<div class="container">
  <h1>
  ZUPH Efekt Damian Nędzyński oferuje:
  </h1>
  <p style="text-align: center">
  <br> 
  <li>elewacje, docieplenia, termomodernizacja
  <br> 
  <br> 
  <li>wykończenia wnętrz, malowanie, tapetowanie
  <br> 
  <br> 
  <li>przebudowy, adaptacje pomieszczeń
  <br> 
  <br> 
  <li>sufity podwieszane, ścianki G/K
  <br> 
  <br> 
  <li>podłogi, posadzki żywiczne, panele
  <br> 
  <br> 
  <li>remonty łazienek, sanitariatów
  <br> 
  <br> 
  <li>usługi glazurnicze: gres, terakota, płytki 
  <br> 
  <br> 
  <li>remonty, naprawy, renowacje
  <br> 
  <br> 
  <li>konserwacja dachów, papa termozgrzewalna
  <br> 
  <br> 
  <li>osuszanie budynków, izolacje przeciwwilgociowe
  <br> 
  <br> 
  <li>Zapraszamy do współpracy !
  <br> 
  </p>
</div>
