<div class="container">
  <%= image_tag("ref1", size:"500x500") %>
  <div class="card-body">
    <body>
       <img src="patch.gif" title="Patch: 1" />
       <img src="patch.gif" title="Patch: 2" />

       <img src="django.gif"/><img src="django.gif"/>
    </body>
  </html>
  </div>
</div>
</div>